## **Student's Autograder**
This is a project to calculate quiz and term scores from q&a pdf and response pdf.

Whats left: 
* multi option evaluation logic
* 
* Editing pdf

Importing the required libraries

In [100]:
import os
import pandas as pd
import numpy as np
import tabula
from bs4 import BeautifulSoup
from PyPDF2 import PdfFileReader, PdfFileWriter
from PyPDF2.generic import DecodedStreamObject, EncodedStreamObject,ArrayObject

In [101]:
#debugging for notebooks current directory for reading files later.
import os
os.getcwd()

'/home/hem436/Documents/TDS/Week 2'

### Reading response pdf

In [102]:
df = tabula.read_pdf('POD22S1C31590017.pdf',pages='all',multiple_tables=False)

In [103]:
filename="IIT M DIPLOMA QUIZ2 EXAM QPF1.pdf"

In [104]:
df[0].tail()

             Name SHEKHAR MOHANTY HEMANT
255  640653351773             Unanswered
256  640653351768             Unanswered
257  640653351769             Unanswered
258  640653351775             Unanswered
259  640653351776             Unanswered

### Variables initialisation

In [105]:
my_question="Question ID"
my_answer="Options Selected"
unanswered="Unanswered"
file_qid="Question Id"

In [106]:
df[0].iloc[4].values

array(['Question ID', 'Options Selected'], dtype=object)

In [107]:
df[0].head()

               Name                    SHEKHAR MOHANTY HEMANT
0            QP Set  2022 July: IIT M DIPLOMA QUIZ2 EXAM QPF1
1  Test Center Name           iON Digital Zone iDZ Jamshedpur
2             Shift                                        AN
3           Roll No                          POD22S1C31590017
4       Question ID                          Options Selected

In [108]:
df1=df[0].replace(unanswered,np.nan,regex=True)

Students response for exam dataframe

In [109]:
myans=df1.dropna()
myans.columns=myans.iloc[4].values
myans=myans[5:]

myans[my_question]=myans[my_question].apply(int)
myans=myans.sort_values(my_question)
myans

      Question ID                                   Options Selected
131  640653351637                                      6406531166954
132  640653351638                                      6406531166957
133  640653351639                                      6406531166963
143  640653351640                        6406531166964,6406531166966
134  640653351641                                      6406531166970
144  640653351642                        6406531166972,6406531166973
145  640653351643                        6406531166977,6406531166978
135  640653351644                                      6406531166983
142  640653351645                                      6406531166985
136  640653351646                                      6406531166989
137  640653351647                                      6406531166994
138  640653351648                                      6406531166997
139  640653351649                                      6406531167001
146  640653351650                        6406531167005,6406531167007
140  640653351651                                      6406531167010
141  640653351652                                      6406531167015
154  640653351655                                      6406531167026
147  640653351656                                      6406531167029
155  640653351657                                      6406531167033
148  640653351658                                      6406531167035
157  640653351659                        6406531167040,6406531167041
158  640653351660          6406531167043,6406531167044,6406531167045
161  640653351661  6406531167047,6406531167048,6406531167049,6406...
162  640653351662                                      6406531167052
159  640653351663          6406531167055,6406531167056,6406531167058
160  640653351664                        6406531167059,6406531167060
156  640653351665                                      6406531167066
149  640653351666                                      6406531167070
150  640653351667                                      6406531167071
151  640653351668                                      6406531167075
152  640653351669                                      6406531167080
231  640653351745                                      6406531167318
232  640653351746                                      6406531167322
236  640653351747                                                  6
237  640653351748                                              0.672
238  640653351749                                               1.43
233  640653351750                                      6406531167328
235  640653351751                        6406531167331,6406531167334
234  640653351752                                      6406531167338
239  640653351754                                                 80
240  640653351755                                                 90
241  640653351756                                                 10

In [110]:

# def replace_text(content, replacements = dict()):
#     lines = content.splitlines()

#     result = ""
#     in_text = False
#     for line in lines:
#         if line == "BT":
#             in_text = True

#         elif line == "ET":
#             in_text = False

#         elif in_text:
#             cmd = line[-2:]
#             if cmd.lower() == 'tj':
#                 replaced_line = line
#                 for k, v in replacements.items():
#                     replaced_line = replaced_line.replace(k, v)
#                 result += replaced_line + "\n"
#             else:
#                 result += line + "\n"
#     return result


# def process_data(object, replacements):
#     data = object.getData()
#     decoded_data = data.decode("utf-8")
#     replaced_data = replace_text(decoded_data, replacements)

#     encoded_data = replaced_data.encode("utf-8")
    
#     if object.decodedSelf is not None:
#         object.decodedSelf.setData(encoded_data)
#     else:
#         object.setData(encoded_data)




# # Provide replacements list that you need here
# replacements = { 'IITM': '<002c00510047004c004400510003002c005100560057004c00570058005700480003005200490003003700480046004b00510052004f0052004a005c000f0003003000440047005500440056000300100003002600480051005700550048>'}
# pdf = PdfFileReader("IIT M QUIZ 1 FOUNDATION DAD DIPLOMA QPD1.pdf")
# writer = PdfFileWriter()

# for page_number in range(0, pdf.getNumPages()):

#     page = pdf.getPage(page_number)
#     contents = page.getContents()

#     if isinstance(contents, DecodedStreamObject) or isinstance(contents, EncodedStreamObject):
#         process_data(contents, replacements)
#     elif len(contents) > 0:
#         for obj in contents:
#             if isinstance(obj, DecodedStreamObject) or isinstance(obj, EncodedStreamObject):
#                 streamObj = obj.getObject()
#                 process_data(streamObj, replacements)
#     page[NameObject("/Contents")] = contents.decodedSelf
#     writer.addPage(page)

# with open("result.pdf", 'wb') as out_file:
#     writer.write(out_file)

In [111]:
def gentextarr(content):
    """
    Returns an array of text block properties of pdf
    Parameter:
        content: string object of page content obtained by page.getContents().getData().decode() 
    """
    lines = content.splitlines()
    result = []
    in_text = False
    for line in lines:
        if line == "BT":
            in_text = True
            temp=[]

        elif line == "ET":
            in_text = False
            result.append(temp)
            temp=[]

        elif in_text:
            if line[-2:].lower()=="tj" or line[-2:].lower()=="tf" or line[-2:].lower()=="rg":
                temp.append(line[:])
    return result

def gen_cmap(font,pg):
    """
    Returns a character map dictionary of a pdf 'filename' page 'pg' and font 
    Parameter:
     font: font key name in meta properties of pdf.
     pg: int page number of pdf
    """
    # pdf = PdfFileReader(filename)
    # page = pdf.getPage(pg)
    page=pg
    temp=False
    cmap={}
    for i in (page.getObject()['/Resources']['/Font'][font]['/ToUnicode'].getObject().getData().decode().split('\n')):
        if "endbfrange" in i:
            temp=False
        if temp:
            cmap[i[1:5]]=i[-5:-1]
        if "beginbfrange" in i:
            temp=True
    return cmap

def font_decoder(text,cmap):
    """
    Returns decoded word from pdf text hex code. 
    """

    count=0
    word=""
    temp=""
    for i in text:
        count+=1
        if count==4:
            temp+=i
            word+=chr(int(cmap.get(temp.lower(),temp.lower()),16))
            temp=""
            count=0
        else:
            temp+=i
    return word

In [112]:
# pdf = PdfFileReader(filename)

# # for page_number in range(0, pdf.getNumPages()):
# p=False
# pdf_content=""
# for i in range(0,pdf.getNumPages()):
#     page = pdf.getPage(i)
#     contents = page.extract_text()
#     if myans[my_question].values[0] in contents:
#         sp=i
#         p=True
#     if p:
#         pdf_content+=pdf.pages[i].getContents().getData().decode()
#     if myans[my_question].values[-1] in contents:
#         ep=i
#         p=False
#         break
# if i+1<pdf.getNumPages():
#     pdf_content+=pdf.pages[i+1].getContents().getData().decode()

In [113]:
pdf = PdfFileReader(filename)

In [114]:
cmapd={}
for i in range(pdf.getNumPages()):
    for k in pdf.pages[i].getObject()['/Resources']['/Font']:
        cmap=gen_cmap(k,pdf.pages[i])
        if cmap not in cmapd.values():
            cmapd[k+str(i)]=cmap

In [115]:

sum=0
df=[[file_qid,"Correct Marks","Answers"]]
m_bool=False
marks=""
ans_bool=False
ans=""
row=[]
temp=[]
for p in range(0,pdf.getNumPages()):
    content=pdf.pages[p].getContents()
    
    if type(content)==ArrayObject:
        m=""
        for n in content:
            m+=n.getObject().getData().decode()
        content=m
    elif type(content)==EncodedStreamObject or type(content)==DecodedStreamObject:
        content=content.getData().decode()
    for i in gentextarr(content):
        text=""
        ans_bool=False
        for j in i:
            if j[-2:]=="Tf":
                cmap=gen_cmap(j.split()[0],pdf.pages[p])    
            if j=="0 0.50196 0 rg" and len(row)>1:
                ans_bool=True
            elif j[-2:].lower()=="tj":
                text=font_decoder(j[1:-3],cmap)
                if (not m_bool) and (not ans_bool):
                    # print(text)
                    if str(file_qid) in text:
                        if len(temp)>0:
                            row.append(temp)
                            df.append(row)
                        row=[]
                        temp=[]
                        if text.split()[7].isnumeric():
                            row=[text.split()[7]]
                            m_bool=True

                elif m_bool:
                    if "Correct Marks" in text:
                        # print("Marks=",text[-1])
                        if len(row)==1:
                            row.append(text[-1])
                        m_bool=False
                elif ans_bool:
                    if text!=" ":
                        if len(text)>=13 and text[:13].isnumeric():
                            temp.append(text[:13])
                        elif len(text.split())==3 and "to" in text.split()[1]:
                            t=text.split()
                            temp=[float(t[0]),float(t[-1])]
                        else:
                            temp.append(text)
if len(row)==3:
    df.append(row)

In [123]:
print(len(df))
df[10]

260

['640653351501', '1', ['2']]

In [117]:
df2=pd.DataFrame(df[1:],columns=df[0])
df2[file_qid]=df2[file_qid].apply(int)
df2=df2.sort_values([file_qid])
df2.head()

    Question Id Correct Marks                         Answers
0  640653351495             0           [6406531166580,  Yes]
1  640653351496             2  [6406531166582, 6406531166583]
6  640653351498             1                             [0]
7  640653351499             1                            [-4]
8  640653351500             1                            [-2]

In [118]:
df2=df2[df2[file_qid].isin(myans[my_question].values)].reset_index().drop("index",axis=1)
df2.head()

    Question Id Correct Marks                         Answers
0  640653351637             0           [6406531166954,  Yes]
1  640653351638             3                 [6406531166957]
2  640653351639             3                 [6406531166963]
3  640653351640             4  [6406531166964, 6406531166966]
4  640653351641             3                 [6406531166970]

In [119]:
df2["My answer"]=myans.reset_index()[my_answer]
df2["My qid"]=myans.reset_index()[my_question]
print(len(df2))
df2

42

,Question Id,Correct Marks,Answers,My answer,My qid
0,640653351637,0,"[6406531166954, Yes]",6406531166954,640653351637
1,640653351638,3,[6406531166957],6406531166957,640653351638
2,640653351639,3,[6406531166963],6406531166963,640653351639
3,640653351640,4,"[6406531166964, 6406531166966]","6406531166964,6406531166966",640653351640
4,640653351641,3,[6406531166970],6406531166970,640653351641
5,640653351642,4,"[6406531166972, 6406531166973]","6406531166972,6406531166973",640653351642
6,640653351643,4,"[6406531166976, 6406531166978]","6406531166977,6406531166978",640653351643
7,640653351644,3,[6406531166983],6406531166983,640653351644
8,640653351645,4,[6406531166986],6406531166985,640653351645
9,640653351646,3,[6406531166989],6406531166989,640653351646
10,640653351647,3,[6406531166994],6406531166994,640653351647
11,640653351648,3,[6406531166997],6406531166997,640653351648
12,640653351649,3,[6406531167002],6406531167001,640653351649
13,640653351650,4,"[6406531167005, 6406531167007]","6406531167005,6406531167007",640653351650
14,640653351651,3,[6406531167010],6406531167010,640653351651
15,640653351652,3,[6406531167015],6406531167015,640653351652
16,640653351655,5,"[6406531167026, Test Passed !! Element Found]",6406531167026,640653351655
17,640653351656,3,"[6406531167029, suffixsuffixiitmsuffix, -3]",6406531167029,640653351656
18,640653351657,5,"[6406531167031, suffixsuffixsuffixundefinedpr...",6406531167033,640653351657
19,640653351658,3,[6406531167038],6406531167035,640653351658
20,640653351659,2,"[6406531167040, GraphQL can be used with ever...","6406531167040,6406531167041",640653351659
21,640653351660,2,"[6406531167043, Vuex provides a common soluti...","6406531167043,6406531167044,6406531167045",640653351660
22,640653351661,3,"[6406531167047, The idea of an SPA is to impr...","6406531167047,6406531167048,6406531167049,6406...",640653351661
23,640653351662,3,"[6406531167052, The client must send the toke...",6406531167052,640653351662
24,640653351663,2,"[6406531167055, It is used as an access token...","6406531167055,6406531167056,6406531167058",640653351663
25,640653351664,2,"[6406531167059, It allows servers to indicate...","6406531167059,6406531167060",640653351664
26,640653351665,5,[6406531167066],6406531167066,640653351665
27,640653351666,3,"[6406531167068, Unexpected Error]",6406531167070,640653351666
28,640653351667,3,[6406531167071],6406531167071,640653351667
29,640653351668,3,"[6406531167075, Welcome mohan, This is profil...",6406531167075,640653351668
30,640653351669,3,"[6406531167080, Welcome mohan, This is home p...",6406531167080,640653351669
31,640653351745,0,"[6406531167318, Yes]",6406531167318,640653351745
32,640653351746,2,"[6406531167322, Fail to reject the null hypot...",6406531167322,640653351746
33,640653351747,2,"[5.9, 6.1]",6,640653351747
34,640653351748,2,"[0.62, 0.66]",0.672,640653351748
35,640653351749,2,"[1.38, 1.44]",1.43,640653351749
36,640653351750,2,"[6406531167328, Unit 2]",6406531167328,640653351750
37,640653351751,3,"[6406531167331, There are two decision variab...","6406531167331,6406531167334",640653351751
38,640653351752,2,"[6406531167338, The intercept is positive and...",6406531167338,640653351752
39,640653351754,1,[80],80,640653351754
40,640653351755,2,[75],90,640653351755
41,640653351756,2,[90],10,640653351756

In [120]:
df2['Score']=np.zeros(df2.shape[0])
df2['Score'] = df2.apply(lambda x: x['Correct Marks'] if len(x["My answer"])==13 and x['My answer'] in x["Answers"] else x["Score"], axis=1)
df2['Score'] = df2.apply(lambda x: (len(x["Answers"])/len(x["My answer"].split(",")))*float(x['Correct Marks']) if len(x["My answer"])>13 and len(set(x['My answer'].split(",")).intersection(set(x["Answers"])))>0 else x["Score"], axis=1)
df2['Score'] = df2.apply(lambda x: x['Correct Marks'] if len(x["My answer"])<13 and len(x['Answers'])>1 and float(x['My answer']) >= float(x["Answers"][0]) and float(x['My answer']) <= float(x["Answers"][1]) else x["Score"], axis=1)
df2['Score'] = df2.apply(lambda x: x['Correct Marks'] if len(x["My answer"])<13 and len(x['Answers'])==1 and float(x['My answer']) == float(x["Answers"][0]) else x["Score"], axis=1)

In [121]:
df2

,Question Id,Correct Marks,Answers,My answer,My qid,Score
0,640653351637,0,"[6406531166954, Yes]",6406531166954,640653351637,0
1,640653351638,3,[6406531166957],6406531166957,640653351638,3
2,640653351639,3,[6406531166963],6406531166963,640653351639,3
3,640653351640,4,"[6406531166964, 6406531166966]","6406531166964,6406531166966",640653351640,4.0
4,640653351641,3,[6406531166970],6406531166970,640653351641,3
5,640653351642,4,"[6406531166972, 6406531166973]","6406531166972,6406531166973",640653351642,4.0
6,640653351643,4,"[6406531166976, 6406531166978]","6406531166977,6406531166978",640653351643,4.0
7,640653351644,3,[6406531166983],6406531166983,640653351644,3
8,640653351645,4,[6406531166986],6406531166985,640653351645,0.0
9,640653351646,3,[6406531166989],6406531166989,640653351646,3
10,640653351647,3,[6406531166994],6406531166994,640653351647,3
11,640653351648,3,[6406531166997],6406531166997,640653351648,3
12,640653351649,3,[6406531167002],6406531167001,640653351649,0.0
13,640653351650,4,"[6406531167005, 6406531167007]","6406531167005,6406531167007",640653351650,4.0
14,640653351651,3,[6406531167010],6406531167010,640653351651,3
15,640653351652,3,[6406531167015],6406531167015,640653351652,3
16,640653351655,5,"[6406531167026, Test Passed !! Element Found]",6406531167026,640653351655,5
17,640653351656,3,"[6406531167029, suffixsuffixiitmsuffix, -3]",6406531167029,640653351656,3
18,640653351657,5,"[6406531167031, suffixsuffixsuffixundefinedpr...",6406531167033,640653351657,0.0
19,640653351658,3,[6406531167038],6406531167035,640653351658,0.0
20,640653351659,2,"[6406531167040, GraphQL can be used with ever...","6406531167040,6406531167041",640653351659,5.0
21,640653351660,2,"[6406531167043, Vuex provides a common soluti...","6406531167043,6406531167044,6406531167045",640653351660,3.333333
22,640653351661,3,"[6406531167047, The idea of an SPA is to impr...","6406531167047,6406531167048,6406531167049,6406...",640653351661,3.0
23,640653351662,3,"[6406531167052, The client must send the toke...",6406531167052,640653351662,3
24,640653351663,2,"[6406531167055, It is used as an access token...","6406531167055,6406531167056,6406531167058",640653351663,2.666667
25,640653351664,2,"[6406531167059, It allows servers to indicate...","6406531167059,6406531167060",640653351664,5.0
26,640653351665,5,[6406531167066],6406531167066,640653351665,5
27,640653351666,3,"[6406531167068, Unexpected Error]",6406531167070,640653351666,0.0
28,640653351667,3,[6406531167071],6406531167071,640653351667,3
29,640653351668,3,"[6406531167075, Welcome mohan, This is profil...",6406531167075,640653351668,3
30,640653351669,3,"[6406531167080, Welcome mohan, This is home p...",6406531167080,640653351669,3
31,640653351745,0,"[6406531167318, Yes]",6406531167318,640653351745,0
32,640653351746,2,"[6406531167322, Fail to reject the null hypot...",6406531167322,640653351746,2
33,640653351747,2,"[5.9, 6.1]",6,640653351747,2
34,640653351748,2,"[0.62, 0.66]",0.672,640653351748,0.0
35,640653351749,2,"[1.38, 1.44]",1.43,640653351749,2
36,640653351750,2,"[6406531167328, Unit 2]",6406531167328,640653351750,2
37,640653351751,3,"[6406531167331, There are two decision variab...","6406531167331,6406531167334",640653351751,6.0
38,640653351752,2,"[6406531167338, The intercept is positive and...",6406531167338,640653351752,2
39,640653351754,1,[80],80,640653351754,1
40,640653351755,2,[75],90,640653351755,0.0
41,640653351756,2,[90],10,640653351756,0.0

## Final score

In [122]:
df2["Score"].apply(float).sum()

104.0