## **Student's Autograder**
This is a project to calculate quiz and term scores from q&a pdf and response pdf.

Whats left: 

* Editing pdf

### Importing the required libraries

In [37]:
import os
import pandas as pd
import numpy as np
import tabula
from PyPDF2 import PdfFileReader, PdfFileWriter
from PyPDF2.generic import DecodedStreamObject, EncodedStreamObject,ArrayObject

In [38]:
#current directory for reading files later.
import os
os.getcwd()

'/home/hem436/Documents/TDS/Week 2'

### Reading pdfs

In [39]:
# Enter response pdf name
resp_pdf = "POD22S1C21530041.pdf"

#POD22S1C11500062.pdf

#Enter corresponding question and answer key pdf name
qa_pdf = "IIT M DIPLOMA FN2 EXAM ETD2.pdf"

#IIT M DAD DIPLOMA AN2 EXAM QPD1.pdf

In [40]:
filename=qa_pdf

Students response for exam dataframe

In [41]:
rpdf_df=PdfFileReader(resp_pdf)

In [42]:
#Updated response pdf reading method from tabula to raw 
myans=[]
for i in range(rpdf_df.getNumPages()):
    myans+=(rpdf_df.pages[i].extractText().split("\n"))

#### Variables initialization

In [43]:
resp_qid,my_answer=myans[11:13]
unanswered="Unanswered"
file_qid="Question Id"

In [44]:
myans=myans[myans.index(resp_qid):]
myans=pd.DataFrame(np.vstack((myans[2::2],myans[3::2])).T,columns=[myans[0],myans[1]])
myans[resp_qid]=myans[resp_qid].apply(int)
myans

      Question Id Options Selected
0    640653451668       Unanswered
1    640653451670       Unanswered
2    640653451672       Unanswered
3    640653451673       Unanswered
4    640653451676       Unanswered
..            ...              ...
356  640653452050       Unanswered
357  640653452054       Unanswered
358  640653452042       Unanswered
359  640653452044       Unanswered
360  640653452045       Unanswered

[361 rows x 2 columns]

In [45]:
# with pd.option_context("display.max_rows",None):
#     print(df3)

### Useful functions

In [46]:
def gentextarr(content):
    """
    Returns an array of text block properties of pdf
    Parameter:
        content: string object of page content obtained by page.getContents().getData().decode() 
    """
    lines = content.splitlines()
    result = []
    in_text = False
    for line in lines:
        if line == "BT":
            in_text = True
            temp=[]

        elif line == "ET":
            in_text = False
            result.append(temp)
            temp=[]

        elif in_text:
            if line[-2:].lower()=="tj" or line[-2:].lower()=="tf" or line[-2:].lower()=="rg":
                temp.append(line[:])
    return result

def gen_cmap(font,pg):
    """
    Returns a character map dictionary of a pdf 'filename' page 'pg' and font 
    Parameter:
     font: font key name in meta properties of pdf.
     pg: int page number of pdf
    """
    # pdf = PdfFileReader(filename)
    # page = pdf.getPage(pg)
    page=pg
    temp=False
    cmap={}
    for i in (page.getObject()['/Resources']['/Font'][font]['/ToUnicode'].getObject().getData().decode().split('\n')):
        if "endbfrange" in i:
            temp=False
        if temp:
            cmap[i[1:5]]=i[-5:-1]
        if "beginbfrange" in i:
            temp=True
    return cmap

def font_decoder(text,cmap):
    """
    Returns decoded word from pdf text hex code. 
    """

    count=0
    word=""
    temp=""
    for i in text:
        count+=1
        if count==4:
            temp+=i
            word+=chr(int(cmap.get(temp.lower(),temp.lower()),16))
            temp=""
            count=0
        else:
            temp+=i
    return word

## PDF Content

In [47]:
"""
This piece of code extracts question answer pdf text content as well as correct answer key.
"""
pdf = PdfFileReader(filename)
sum=0
df=[[file_qid,"Correct Marks","Answers"]]
m_bool=False
marks=""
ans_bool=False
ans=""
row=[]
temp=[]
s_head=[]
temp_head=""
ishead=False
for p in range(0,pdf.getNumPages()):
    content=pdf.pages[p].getContents()
    #a different type content
    if type(content)==ArrayObject:
        m=""
        for n in content:
            m+=n.getObject().getData().decode()
        content=m
    elif type(content)==EncodedStreamObject or type(content)==DecodedStreamObject:
        content=content.getData().decode()
    for i in gentextarr(content):
        text=""
        ans_bool=False
        for j in i:
            # getting character map for a font type
            if j[-2:].lower()=="tf":
                cmap=gen_cmap(j.split()[0],pdf.pages[p])
                #checking for subject headings with font size =18
                if j.split()[1]=="18":
                    ishead=True
            # checking green color as ind of correctness        
            if j=="0 0.50196 0 rg" and len(row)>1:
                ans_bool=True
    
            elif j[-2:].lower()=="tj":
                text=font_decoder(j[1:-3],cmap)
                if ishead:
                    ishead=False
                    temp_head=text
                
                if (not m_bool) and (not ans_bool):
                    # checking for question id
                    if str(file_qid) in text:
                        if len(temp)>0:
                            row.append(temp)
                            df.append(row)
                        row=[]
                        temp=[]
                        if text.split()[7].isnumeric():
                            s_head.append(temp_head)
                            row=[text.split()[7]]
                            m_bool=True
                    
                # extracting marks
                elif m_bool:
                    if "Correct Marks" in text:
                        # appending to heading list if marks is 0
                        # if text.split()[-1]=="0":
                        #     s_head.append(temp_head)
                        if len(row)==1:
                            row.append(text.split()[3])
                        m_bool=False
                        
                #extracting answer key
                elif ans_bool:
                    if text!=" ":
                        if len(text)>=13 and text[:13].isnumeric():
                            temp.append(text[:13])
                        elif len(text.split())==3 and "to" in text.split()[1]:
                            t=text.split()
                            if not(t[0].isalpha() or t[-1].isalpha()):
                                temp=[float(t[0]),float(t[-1])]
                        elif len(temp)==0:
                            temp.append(text)
if len(temp)>=1:
    # s_head.append(temp_head)
    row.append(temp)
    df.append(row)

In [48]:
df2=pd.DataFrame(df[1:],columns=df[0])
df2[file_qid]=df2[file_qid].apply(int)
df2["Subjects"]=np.array(s_head[-df2.shape[0]:])
df2=df2.sort_values([file_qid])
# df2[df2["Subjects"]=="MLT"]["Correct Marks"].apply(float).sum()

In [49]:
def evaluate(df2):
    
    #Multi option
    df2['Score'] = df2.apply(lambda x: (len(set(x["My answer"].split(","))\
                                            .intersection(set(x["Answers"])))/len(x["Answers"]))*float(x['Correct Marks'])\
                             if type(x["Answers"][0])==str and len(x["Answers"][0])==13 and\
                                len(set(x["My answer"].split(",")))<=len(set(x["Answers"])) and\
                                set(x["My answer"].split(",")).issubset(set(x["Answers"]))\
                             else x["Score"], axis=1)
    #integer ranged
    df2['Score'] = df2.apply(lambda x: float(x['Correct Marks'])\
                             if len(x["My answer"])<13 and len(x["My answer"])>0 and\
                                len(x['Answers'])>=1 and\
                                float(x['My answer']) >= float(x["Answers"][0]) and\
                                float(x['My answer']) <= float(x["Answers"][-1])\
                             else x["Score"], axis=1)
    return df2

## Final score

### Method 1: using index of 0 correct marks

In [50]:
# s_index=df3[df3["Correct Marks"]=="0"].index
# s_index

In [51]:
# subjects={}
# for i in range(len(s_index)):
#     if i==len(s_index)-1:
#         subjects[df3["Subjects"][s_index[i]]]=df3.iloc[s_index[i]:]
#     else:
#         subjects[df3["Subjects"][s_index[i]]]=df3.iloc[s_index[i]:s_index[i+1]]
# subjects.keys()

In [52]:
# reports=[]
# for i in subjects.values():
#     print(i["Correct Marks"].apply(float).values)
#     reports.append([i["Subjects"].unique()[0],i["Correct Marks"].apply(float).values.sum(),i["Score"].sum()])
# for i in reports:
#     print(i[0],":",i[2]/i[1]*100,"%")

In [53]:
# with pd.option_context("display.max_rows",None):
#     display(df)

### Method 2: Using groupby function

In [55]:
df3=df2.set_index(file_qid).combine_first(myans.set_index(resp_qid)).reset_index().replace([unanswered,np.NAN],"")

In [56]:
df3.columns=["Question Id","Answers","Correct Marks","My answer","Subjects" ]
df3["Score"]=np.zeros(df3.shape[0])
df3=evaluate(df3)

In [57]:
df3["Correct Marks"]=df3["Correct Marks"].apply(float)

In [58]:
with pd.option_context("display.max_rows",None):
    display(df3[df3["Subjects"].isin(df3[df3["My answer"]!=""]["Subjects"].unique())])

,Question Id,Answers,Correct Marks,My answer,Subjects,Score
24,640653451692,[6406531503179],0.0,6406531503179,MLT,0.0
25,640653451693,[35],5.0,32.2,MLT,0.0
26,640653451695,[15],3.0,15,MLT,3.0
27,640653451696,[6406531503185],3.0,6406531503186,MLT,0.0
28,640653451697,[6406531503187],5.0,6406531503187,MLT,5.0
29,640653451699,[5],4.0,5,MLT,4.0
30,640653451700,"[6406531503193, 6406531503194]",4.0,"6406531503193,6406531503194",MLT,4.0
31,640653451701,[6406531503198],4.0,6406531503198,MLT,4.0
32,640653451703,[3],1.5,3,MLT,1.5
33,640653451704,[1],1.5,1,MLT,1.5
34,640653451705,[4],1.5,4,MLT,1.5
35,640653451706,[2],2.5,2,MLT,2.5
36,640653451707,[6406531503204],4.0,6406531503204,MLT,4.0
37,640653451709,[6406531503207],2.5,6406531503209,MLT,0.0
38,640653451710,[6406531503212],2.5,6406531503212,MLT,2.5
39,640653451712,[1],3.0,1,MLT,3.0
40,640653451713,[6406531503217],3.0,6406531503217,MLT,3.0
41,640653451715,"[0.23, 0.27]",2.0,0.25,MLT,2.0
42,640653451716,[1],2.0,1,MLT,2.0
43,640653451717,"[0.31, 0.35]",3.0,0.33,MLT,3.0
44,640653451718,"[6406531503223, 6406531503225]",5.0,"6406531503223,6406531503225",MLT,5.0
45,640653451719,"[6406531503227, 6406531503228]",2.0,"6406531503227,6406531503228",MLT,2.0
46,640653451720,[187],4.0,160,MLT,0.0
47,640653451721,[6406531503233],3.0,6406531503232,MLT,0.0
48,640653451723,[2],3.0,2,MLT,3.0
49,640653451724,[4],3.0,4,MLT,3.0
50,640653451725,[25],5.0,25,MLT,5.0
51,640653451726,[6406531503240],3.0,6406531503240,MLT,3.0
52,640653451727,[6406531503245],4.0,6406531503245,MLT,4.0
53,640653451728,[6406531503247],5.0,6406531503247,MLT,5.0
54,640653451729,[6406531503251],6.0,6406531503251,MLT,6.0
88,640653451767,[6406531503380],0.0,6406531503380,TDS,0.0
89,640653451768,[6406531503385],1.0,6406531503382,TDS,0.0
90,640653451769,[6406531503386],1.0,6406531503386,TDS,1.0
91,640653451770,[6406531503392],1.0,6406531503391,TDS,0.0
92,640653451771,[6406531503396],1.0,6406531503396,TDS,1.0
93,640653451772,[6406531503400],2.0,6406531503400,TDS,2.0
94,640653451773,[6406531503405],1.0,6406531503405,TDS,1.0
95,640653451774,[6406531503407],1.0,6406531503407,TDS,1.0
96,640653451775,[6406531503409],2.0,6406531503409,TDS,2.0
97,640653451776,[6406531503416],1.0,6406531503416,TDS,1.0
98,640653451777,[6406531503419],1.0,6406531503419,TDS,1.0
99,640653451778,[6406531503421],1.0,6406531503421,TDS,1.0
100,640653451779,[6406531503428],1.0,6406531503428,TDS,1.0
101,640653451780,[6406531503431],1.0,6406531503431,TDS,1.0
102,640653451781,[6406531503435],1.0,6406531503435,TDS,1.0
103,640653451782,[6406531503438],1.0,6406531503437,TDS,0.0
104,640653451783,[6406531503440],1.0,6406531503440,TDS,1.0
105,640653451784,[6406531503445],1.0,6406531503443,TDS,0.0
106,640653451785,[6406531503449],2.0,6406531503449,TDS,2.0
107,640653451786,[6406531503451],1.0,6406531503451,TDS,1.0
108,640653451787,[6406531503457],1.0,6406531503457,TDS,1.0
109,640653451788,[6406531503458],1.0,6406531503458,TDS,1.0
110,640653451789,[6406531503465],1.0,6406531503466,TDS,0.0
111,640653451790,[6406531503468],1.0,6406531503468,TDS,1.0
112,640653451791,[6406531503472],1.0,6406531503472,TDS,1.0
113,640653451792,[6406531503474],1.0,6406531503474,TDS,1.0
114,640653451793,[6406531503479],1.0,6406531503479,TDS,1.0
115,640653451794,[6406531503482],1.0,6406531503483,TDS,0.0
116,640653451795,[6406531503488],1.0,6406531503488,TDS,1.0
117,640653451796,[6406531503491],1.0,6406531503490,TDS,0.0
118,640653451797,[6406531503497],1.0,6406531503496,TDS,0.0
119,640653451798,[6406531503498],1.0,6406531503498,TDS,1.0
120,640653451799,[6406531503503],1.0,6406531503503,TDS,1.0
121,640653451800,[6406531503508],1.0,6406531503508,TDS,1.0
122,640653451801,[6406531503512],1.0,6406531503512,TDS,1.0
123,640653451802,[6406531503516],1.0,6406531503516,TDS,1.0
124,640653451803,[6406531503519],1.0,6406531503519,TDS,1.0
125,640653451804,[6406531503523],1.0,6406531503523,TDS,1.0
126,640653451805,[6406531503529],1.0,6406531503529,TDS,1.0
127,640653451806,[6406531503531],1.0,6406531503530,TDS,0.0
128,640653451807,"[6406531503535, 6406531503536]",1.0,"6406531503535,6406531503536",TDS,1.0
129,640653451808,[6406531503540],1.0,6406531503540,TDS,1.0
130,640653451809,[6406531503542],1.0,6406531503542,TDS,1.0
131,640653451810,[6406531503546],1.0,6406531503546,TDS,1.0
132,640653451811,[6406531503550],1.0,6406531503550,TDS,1.0
133,640653451812,[6406531503554],1.0,6406531503554,TDS,1.0
134,640653451813,[6406531503556],2.0,6406531503556,TDS,2.0

In [59]:
report2=pd.DataFrame(df3.groupby("Subjects")[["Correct Marks","Score"]].sum())

In [60]:
report2["Percentage"]=(report2["Score"]*100/report2["Correct Marks"]).round(2)

In [61]:
report2.columns=["Total Marks","Scored","Percentage"]
headers = {
    'selector': 'thead',
    'props': 'background-color: #0dcaf0; color: white;'
}
report2.style.applymap(lambda v: 'color:red;' if (v == 0) else 'color:green',subset=["Percentage","Scored"])\
    .set_table_styles([headers])\
    .format({"Total Marks":'{:.2f}',"Scored":'{:.2f}',"Percentage":'{0:,.2f}%'})

In [62]:
report2[report2["Percentage"]>0]

          Total Marks  Scored  Percentage
Subjects
MLT             100.0    82.5        82.5
TDS              50.0    41.0        82.0

### Exporting dataframe as csv

In [ ]:
df3[df3["Subjects"].isin(report2[report2["Percentage"]>0].index)].to_csv("summary.csv",index=False)
report2[report2["Percentage"]>0].to_csv("report_card.csv")