## **Student's Autograder**
This is a project to calculate quiz and term scores from q&a pdf and response pdf.

Whats left: 
* Adding subjects name 
* Editing pdf

Importing the required libraries

In [1]:
import os
import pandas as pd
import numpy as np
import tabula
from bs4 import BeautifulSoup
from PyPDF2 import PdfFileReader, PdfFileWriter
from PyPDF2.generic import DecodedStreamObject, EncodedStreamObject,ArrayObject

In [2]:
#debugging for notebooks current directory for reading files later.
import os
os.getcwd()

'C:\\Users\\506761\\OneDrive - Tata Steel Limited\\Documents\\Python Scripts'

### Reading response pdf

In [3]:
df = tabula.read_pdf('POD22S1C31570014.pdf',pages='all',multiple_tables=False)

In [4]:
filename="IIT M DIPLOMA QUIZ1 EXAM QPF1.pdf"

In [5]:
df[0].tail()

             Name SHEKHAR MOHANTY HEMANT
273  640653345424             Unanswered
274  640653345425             Unanswered
275  640653345427             Unanswered
276  640653345418             Unanswered
277  640653345419             Unanswered

### Variables initialisation

In [6]:
my_question="Question ID"
my_answer="Options Selected"
unanswered="Unanswered"
file_qid="Question Id"

In [7]:
df[0].iloc[4].values

array(['Question ID', 'Options Selected'], dtype=object)

In [8]:
df[0].head()

               Name                   SHEKHAR MOHANTY HEMANT
0            QP Set  2022 Jun: IIT M DIPLOMA QUIZ1 EXAM QPF1
1  Test Center Name          iON Digital Zone iDZ Jamshedpur
2             Shift                                       AN
3           Roll No                         POD22S1C31570014
4       Question ID                         Options Selected

In [9]:
df1=df[0].replace(unanswered,np.nan,regex=True)

Students response for exam dataframe

In [10]:
myans=df1.dropna()
myans.columns=myans.iloc[4].values
myans=myans[5:]

myans[my_question]=myans[my_question].apply(int)
myans=myans.sort_values(my_question)
print(len(myans))
myans

48

      Question ID             Options Selected
139  640653345272                6406531148424
140  640653345273                6406531148426
145  640653345274                6406531148432
148  640653345275                6406531148435
146  640653345276                6406531148441
149  640653345277                6406531148444
141  640653345278                6406531148448
142  640653345279                6406531148452
151  640653345280                6406531148457
143  640653345281                6406531148458
152  640653345283  6406531148466,6406531148468
153  640653345284  6406531148471,6406531148473
144  640653345285                6406531148475
147  640653345286                6406531148478
150  640653345287                6406531148483
154  640653345288                6406531148486
167  640653345289                6406531148490
155  640653345290                6406531148493
157  640653345291  6406531148497,6406531148498
158  640653345292                6406531148500
159  640653345293                6406531148504
160  640653345294                6406531148510
161  640653345295                6406531148515
162  640653345296                6406531148516
163  640653345297                6406531148521
164  640653345298                6406531148524
168  640653345299                6406531148528
169  640653345300                6406531148534
170  640653345301                6406531148537
165  640653345302                6406531148542
166  640653345303                6406531148545
156  640653345304                6406531148549
241  640653345386                6406531148761
242  640653345388                            2
243  640653345389                           75
244  640653345390  6406531148766,6406531148768
245  640653345392                6406531148774
252  640653345394                       202.25
253  640653345395                6406531148779
254  640653345396                6406531148784
255  640653345397                        0.285
247  640653345399                6406531148787
248  640653345400                           -2
249  640653345401                6406531148792
250  640653345403                        35.35
251  640653345404                        0.725
256  640653345405                            8
246  640653345406                6406531148801

In [11]:

# def replace_text(content, replacements = dict()):
#     lines = content.splitlines()

#     result = ""
#     in_text = False
#     for line in lines:
#         if line == "BT":
#             in_text = True

#         elif line == "ET":
#             in_text = False

#         elif in_text:
#             cmd = line[-2:]
#             if cmd.lower() == 'tj':
#                 replaced_line = line
#                 for k, v in replacements.items():
#                     replaced_line = replaced_line.replace(k, v)
#                 result += replaced_line + "\n"
#             else:
#                 result += line + "\n"
#     return result


# def process_data(object, replacements):
#     data = object.getData()
#     decoded_data = data.decode("utf-8")
#     replaced_data = replace_text(decoded_data, replacements)

#     encoded_data = replaced_data.encode("utf-8")
    
#     if object.decodedSelf is not None:
#         object.decodedSelf.setData(encoded_data)
#     else:
#         object.setData(encoded_data)




# # Provide replacements list that you need here
# replacements = { 'IITM': '<002c00510047004c004400510003002c005100560057004c00570058005700480003005200490003003700480046004b00510052004f0052004a005c000f0003003000440047005500440056000300100003002600480051005700550048>'}
# pdf = PdfFileReader("IIT M QUIZ 1 FOUNDATION DAD DIPLOMA QPD1.pdf")
# writer = PdfFileWriter()

# for page_number in range(0, pdf.getNumPages()):

#     page = pdf.getPage(page_number)
#     contents = page.getContents()

#     if isinstance(contents, DecodedStreamObject) or isinstance(contents, EncodedStreamObject):
#         process_data(contents, replacements)
#     elif len(contents) > 0:
#         for obj in contents:
#             if isinstance(obj, DecodedStreamObject) or isinstance(obj, EncodedStreamObject):
#                 streamObj = obj.getObject()
#                 process_data(streamObj, replacements)
#     page[NameObject("/Contents")] = contents.decodedSelf
#     writer.addPage(page)

# with open("result.pdf", 'wb') as out_file:
#     writer.write(out_file)

In [12]:
def gentextarr(content):
    """
    Returns an array of text block properties of pdf
    Parameter:
        content: string object of page content obtained by page.getContents().getData().decode() 
    """
    lines = content.splitlines()
    result = []
    in_text = False
    for line in lines:
        if line == "BT":
            in_text = True
            temp=[]

        elif line == "ET":
            in_text = False
            result.append(temp)
            temp=[]

        elif in_text:
            if line[-2:].lower()=="tj" or line[-2:].lower()=="tf" or line[-2:].lower()=="rg":
                temp.append(line[:])
    return result

def gen_cmap(font,pg):
    """
    Returns a character map dictionary of a pdf 'filename' page 'pg' and font 
    Parameter:
     font: font key name in meta properties of pdf.
     pg: int page number of pdf
    """
    # pdf = PdfFileReader(filename)
    # page = pdf.getPage(pg)
    page=pg
    temp=False
    cmap={}
    for i in (page.getObject()['/Resources']['/Font'][font]['/ToUnicode'].getObject().getData().decode().split('\n')):
        if "endbfrange" in i:
            temp=False
        if temp:
            cmap[i[1:5]]=i[-5:-1]
        if "beginbfrange" in i:
            temp=True
    return cmap

def font_decoder(text,cmap):
    """
    Returns decoded word from pdf text hex code. 
    """

    count=0
    word=""
    temp=""
    for i in text:
        count+=1
        if count==4:
            temp+=i
            word+=chr(int(cmap.get(temp.lower(),temp.lower()),16))
            temp=""
            count=0
        else:
            temp+=i
    return word

In [13]:
# pdf = PdfFileReader(filename)

# # for page_number in range(0, pdf.getNumPages()):
# p=False
# pdf_content=""
# for i in range(0,pdf.getNumPages()):
#     page = pdf.getPage(i)
#     contents = page.extract_text()
#     if myans[my_question].values[0] in contents:
#         sp=i
#         p=True
#     if p:
#         pdf_content+=pdf.pages[i].getContents().getData().decode()
#     if myans[my_question].values[-1] in contents:
#         ep=i
#         p=False
#         break
# if i+1<pdf.getNumPages():
#     pdf_content+=pdf.pages[i+1].getContents().getData().decode()

In [14]:
pdf = PdfFileReader(filename)

In [15]:
cmapd={}
for i in range(pdf.getNumPages()):
    for k in pdf.pages[i].getObject()['/Resources']['/Font']:
        cmap=gen_cmap(k,pdf.pages[i])
        if cmap not in cmapd.values():
            cmapd[k+str(i)]=cmap

In [16]:
pdf.pages[1].getContents().get_data().decode().split("\n")

['/Span <</MCID 0>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 810.16 Td',
 '<0026004b00440051004a004800030037004b0048005000480003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 1>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 810.16 Td',
 '<00310052>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 2>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 783.66 Td',
 '<002b0048004f005300030025005800570057005200510003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 3>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 783.66 Td',
 '<00310052>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 4>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 757.16 Td',
 '<0036004b0052005a000300350048005300520055005700560003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 5>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 757.16 Td',
 '<00310052>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 6>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 730.66 Td',
 '<0036004b0052005a0003003300550052004a005500480056005600030025004400550003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 7>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 730.66 Td',
 '<00310052>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 8>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '20.62 704.16 Td',
 '<0062>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 9>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 704.16 Td',
 '<0062>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 10>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '20.62 677.66 Td',
 '<0062>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 11>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 677.66 Td',
 '<0062>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 12>> BDC',
 'q',
 'BT',
 '/F1 18 Tf',
 '266.95 642.49 Td',
 '<002a00550052005800530003002c>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 13>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 612.91 Td',
 '<002a005500520058005300030031005800500045004800550003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 14>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 612.91 Td',
 '<0014>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 15>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 586.41 Td',
 '<002a00550052005800530003002c00470003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 16>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 586.41 Td',
 '<001900170013001900180016001b001a001a0014>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 17>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 559.9 Td',
 '<002a0055005200580053000300300044005b004c005000580050000300270058005500440057004c005200510003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 18>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 559.9 Td',
 '<0013>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 19>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 533.4 Td',
 '<002a005500520058005300030030004c0051004c005000580050000300270058005500440057004c005200510003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 20>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 533.4 Td',
 '<001c0013>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 21>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 506.9 Td',
 '<0036004b0052005a0003002400570057004800510047004800470003002a005500520058005300220003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 22>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 506.9 Td',
 '<00310052>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 23>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 480.4 Td',
 '<00280047004c00570003002400570057004800510047004800470003002a005500520058005300220003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 24>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 480.4 Td',
 '<00310052>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 25>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 453.9 Td',
 '<0025005500480044004e00030057004c005000480003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 26>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 453.9 Td',
 '<0013>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 27>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 427.4 Td',
 '<002a00550052005800530003003000440055004e00560003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 28>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 427.4 Td',
 '<0019001b0013>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 29>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 400.9 Td',
 '<002c005600030057004b004c00560003002a0055005200580053000300490052005500030028005b00440050004c00510048005500220003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 30>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 400.9 Td',
 '<00310052>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 31>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 374.4 Td',
 '<0028005b00440050004c00510048005500030053004800550050004c00560056004c005200510003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 32>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 374.4 Td',
 '<002600440051005700030039004c0048005a>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 33>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 347.9 Td',
 '<0036004b0052005a0003003300550052004a0055004800560056000300250044005500220003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 34>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 347.9 Td',
 '<00310052>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 35>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 321.4 Td',
 '<003500480059004c0056004c005700030044004f004f0052005a0048004700030049005200550003004a00550052005800530003002c0051005600570055005800460057004c00520051005600220003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 36>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 321.4 Td',
 '<003c00480056>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 37>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 294.9 Td',
 '<00300044005b004c0050005800500003002c0051005600570055005800460057004c0052005100030037004c005000480003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 38>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 294.9 Td',
 '<0013>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 39>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 268.4 Td',
 '<0030004c0051004c0050005800500003002c0051005600570055005800460057004c0052005100030037004c005000480003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 40>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 268.4 Td',
 '<0013>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 41>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 241.9 Td',
 '<002a005500520058005300030037004c005000480003002c00510003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 42>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 241.9 Td',
 '<0030004c00510058005700480056>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 43>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 215.39 Td',
 '<003100440059004c004a0044005700480003003700520003002a00550052005800530003003600580050005000440055005c000300290055005200500003002f004400560057000300340058004800560057004c0052005100220003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 44>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 215.39 Td',
 '<00310052>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 45>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 188.89 Td',
 '<0027004c005600440045004f004800030036005800450050004c005700030025005800570057005200510003002700580055004c0051004a0003002400560056004800560056005000480051005700220003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 46>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 188.89 Td',
 '<00310052>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 47>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '20.62 162.39 Td',
 '<0062>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 48>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 162.39 Td',
 '<0062>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 49>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '20.62 135.89 Td',
 '<0062>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 50>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 135.89 Td',
 '<0062>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 51>> BDC',
 'q',
 'BT',
 '/F1 18 Tf',
 '264.88 100.72 Td',
 '<003000440057004b005600030015>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 52>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 71.14 Td',
 '<0036004800460057004c005200510003002c00470003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 53>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 71.14 Td',
 '<00190017001300190018001600150014001b00180015>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 54>> BDC',
 'q',
 'BT',
 '/F1 12 Tf',
 '20.62 44.64 Td',
 '<0036004800460057004c0052005100030031005800500045004800550003001d>Tj',
 'ET',
 'Q',
 'EMC',
 '/Span <</MCID 55>> BDC',
 'q',
 'BT',
 '/F2 12 Tf',
 '330.05 44.64 Td',
 '<0014>Tj',
 'ET',
 'Q',
 'EMC',
 '']

## PDF Content

In [20]:

sum=0
df=[["Subject",file_qid,"Correct Marks","Answers"]]
m_bool=False
marks=""
ans_bool=False
ans=""
row=[]
temp=[]
s_head=[]
temp_head=""
ishead=False
for p in range(0,pdf.getNumPages()):
    content=pdf.pages[p].getContents()
    if type(content)==ArrayObject:
        m=""
        for n in content:
            m+=n.getObject().getData().decode()
        content=m
    elif type(content)==EncodedStreamObject or type(content)==DecodedStreamObject:
        content=content.getData().decode()
    for i in gentextarr(content):
        text=""
        ans_bool=False
        for j in i:
            
            if j[-2:].lower()=="tf":
                cmap=gen_cmap(j.split()[0],pdf.pages[p])
                #checking for subject headings with font size =18
                if j.split()[1]=="18":
                    ishead=True
                    
            if j=="0 0.50196 0 rg" and len(row)>1:
                ans_bool=True
                
            elif j[-2:].lower()=="tj":
                text=font_decoder(j[1:-3],cmap)
                if ishead:
                    ishead=False
                    temp_head=text
                if (not m_bool) and (not ans_bool):
                    # print(text)
                    if str(file_qid) in text:
                        if len(temp)>0:
                            row.append(temp)
                            df.append(row)
                        row=[temp_head]
                        temp=[]
                        if text.split()[7].isnumeric():
                            row.append(text.split()[7])
                            m_bool=True
                    

                elif m_bool:
                    if "Correct Marks" in text:
                        # appending to heading list if marks is 0
                        if text.split()[-1]=="0":
                            s_head.append(temp_head)
                        if len(row)==1:
                            row.append(text.split()[-1])
                        m_bool=False
                elif ans_bool:
                    if text!=" ":
                        if len(text)>=13 and text[:13].isnumeric():
                            temp.append(text[:13])
                        elif len(text.split())==3 and "to" in text.split()[1]:
                            t=text.split()
                            temp=[float(t[0]),float(t[-1])]
                        elif len(temp)==0:
                            temp.append(text)
if len(row)==3:
    df.append(row)

In [24]:
print(len(df))
df[2]

278

['Maths 2', '640653345127', ['9']]

In [22]:
df2=pd.DataFrame(df[1:],columns=df[0])
df2[file_qid]=df2[file_qid].apply(int)
df2=df2.sort_values([file_qid])
df2.head()

ValueError: 4 columns passed, passed data had 3 columns

In [ ]:
df2=df2[df2[file_qid].isin(myans[my_question].values)].reset_index().drop("index",axis=1)
df2.head()

In [ ]:
df2["My answer"]=myans.reset_index()[my_answer]
df2["My qid"]=myans.reset_index()[my_question]
print(len(df2))
df2

In [ ]:
def evaluate(df2):
#     df2['Score'] = df2.apply(lambda x: float(x['Correct Marks'])\
#                              if len(x["My answer"])==13 and x['My answer'] in x["Answers"]\
#                              else x["Score"], axis=1)
    
    df2['Score'] = df2.apply(lambda x: (len(set(x["My answer"].split(","))\
                                            .intersection(set(x["Answers"])))/len(x["Answers"]))*float(x['Correct Marks'])\
                             if type(x["Answers"][0])==str and len(x["Answers"][0])==13 and\
                                len(set(x["My answer"].split(",")))<=len(set(x["Answers"])) and\
                                len(set(x["My answer"].split(",")).intersection(set(x["Answers"])))>0\
                             else x["Score"], axis=1)
    
    df2['Score'] = df2.apply(lambda x: float(x['Correct Marks'])\
                             if len(x["My answer"])<13 and len(x['Answers'])>1 and\
                                float(x['My answer']) >= float(x["Answers"][0]) and\
                                float(x['My answer']) <= float(x["Answers"][1])\
                             else x["Score"], axis=1)
    
    df2['Score'] = df2.apply(lambda x: float(x['Correct Marks'])\
                             if len(x["My answer"])<13 and len(x['Answers'])==1 and\
                                float(x['My answer']) == float(x["Answers"][0])\
                             else x["Score"], axis=1)
    return df2

In [ ]:
df2['Score']=np.zeros(df2.shape[0])
df2=evaluate(df2)
df2

## Final score

In [ ]:
df2["Score"].apply(float).sum()

In [ ]:
s_index=df2[df2["Correct Marks"]=="0"].index
s_index.shape

In [ ]:
subjects=[]
for i in range(len(s_index)):
    if i==len(s_index)-1:
        subjects.append(df2.iloc[s_index[i]:])
    else:
        subjects.append(df2.iloc[s_index[i]:s_index[i+1]])
print(subjects)

In [ ]:
subjects[0]

In [ ]:
reports=[]
for i in subjects:
    print(i["Correct Marks"].apply(float).values)
    reports.append((i["Correct Marks"].apply(float).values.sum(),i["Score"].sum()))

In [ ]:
for i in reports:
    print(i,"score %",i[1]/i[0]*100)

In [ ]:
s_head