## **Student's Autograder**
This is a project to calculate quiz and term scores from q&a pdf and response pdf.

Whats left: 

* Editing pdf

bugs:
* not able to parse programme feedback questions
* response pdf has issues, missing 1 question

### Importing the required libraries

In [230]:
import os
import pandas as pd
import numpy as np
import tabula
from ipywidgets import widgets
from PyPDF2 import PdfFileReader, PdfFileWriter
from PyPDF2.generic import DecodedStreamObject, EncodedStreamObject,ArrayObject

In [231]:
#debugging for notebooks current directory for reading files later.
import os
os.getcwd()

'/home/hem436/Documents/TDS/Week 2'

### Reading pdfs

In [232]:
resp_pdf = widgets.Text(
 placeholder='Enter filename with extension',
 description='Response pdf:'
 )
qa_pdf = widgets.Text(
 placeholder='Enter filename with extension',
 description='Q&A pdf:'
 )
#POD22S1C11500062.pdf
#IIT M DAD DIPLOMA AN2 EXAM QPD1.pdf
display(resp_pdf,qa_pdf)

Text(value='', description='Response pdf:', placeholder='Enter filename with extension')

Text(value='', description='Q&A pdf:', placeholder='Enter filename with extension')

In [443]:
df = tabula.read_pdf(resp_pdf.value,pages='all',multiple_tables=False)
filename=qa_pdf.value

In [444]:
with pd.option_context("display.max_rows",None):
    print(df[0])

                 Name                     SHEKHAR MOHANTY HEMANT
0              QP Set  2022 Nov: IIT M DAD DIPLOMA AN2 EXAM QPD1
1    Test Center Name            iON Digital Zone iDZ Jamshedpur
2               Shift                                         AN
3             Roll No                           POD22S1C11500062
4         Question ID                           Options Selected
5        640653445429                                 Unanswered
6        640653445430                                 Unanswered
7        640653445431                                 Unanswered
8        640653445432                                 Unanswered
9        640653445433                                 Unanswered
10       640653445434                                 Unanswered
11       640653445435                                 Unanswered
12       640653445436                                 Unanswered
13       640653445437                                 Unanswered
14       640653445438                                 Unanswered
15       640653445439                                 Unanswered
16       640653445440                                 Unanswered
17       640653445441                                 Unanswered
18       640653445442                                 Unanswered
19       640653445443                                 Unanswered
20       640653445444                                 Unanswered
21       640653445446                                 Unanswered
22       640653445447                                 Unanswered
23       640653445448                                 Unanswered
24       640653445449                                 Unanswered
25       640653445450                                 Unanswered
26       640653445452                                 Unanswered
27       640653445453                                 Unanswered
28       640653445454                                 Unanswered
29       640653445455                                 Unanswered
30       640653445456                                 Unanswered
31       640653445457                                 Unanswered
32       640653445458                                 Unanswered
33       640653445459                                 Unanswered
34       640653445445                                 Unanswered
35       640653445451                                 Unanswered
36       640653445462                                 Unanswered
37       640653445478                                 Unanswered
38       640653445463                                 Unanswered
39       640653445468                                 Unanswered
40       640653445469                                 Unanswered
41       640653445465                                 Unanswered
42       640653445466                                 Unanswered
43       640653445475                                 Unanswered
44       640653445476                                 Unanswered
45       640653445477                                 Unanswered
46       640653445471                                 Unanswered
47       640653445472                                 Unanswered
48       640653445473                                 Unanswered
49       640653445481                                 Unanswered
50       640653445482                                 Unanswered
51       640653445483                                 Unanswered
52       640653445484                                 Unanswered
53       640653445486                                 Unanswered
54       640653445487                                 Unanswered
55       640653445489                                 Unanswered
56       640653445490                                 Unanswered
57       640653445491                                 Unanswered
58       640653445493                                 Unanswered
59       640653445492                                 Unanswered
60       640653445495                                 Unanswered
61       640653445496                                 Unanswered
62       640653445499                                 Unanswered
63       640653445500                                 Unanswered
64       640653445502                                 Unanswered
65       640653445503                                 Unanswered
66       640653445505                                 Unanswered
67       640653445506                                 Unanswered
68       640653445497                                 Unanswered
69       640653445507                                 Unanswered
70       640653445508                                 Unanswered
71       640653445509                                 Unanswered
72       640653445510                                 Unanswered
73       640653445511                                 Unanswered
74       640653445512                                 Unanswered
75       640653445513                                 Unanswered
76       640653445514                                 Unanswered
77       640653445515                                 Unanswered
78       640653445516                                 Unanswered
79       640653445517                                 Unanswered
80       640653445518                                 Unanswered
81       640653445519                                 Unanswered
82       640653445525                                 Unanswered
83       640653445526                                 Unanswered
84       640653445521                                 Unanswered
85       640653445522                                 Unanswered
86       640653445523                                 Unanswered
87       640653445527                                 Unanswered
88       640653445531                                 Unanswered
89       640653445535                                 Unanswered
90       640653445530                                 Unanswered
91       640653445536                                 Unanswered
92       640653445537                                 Unanswered
93       640653445532                                 Unanswered
94       640653445542                                 Unanswered
95       640653445534                                 Unanswered
96       640653445544                                 Unanswered
97       640653445528                                 Unanswered
98       640653445543                                 Unanswered
99       640653445529                                 Unanswered
100      640653445533                                 Unanswered
101      640653445540                                 Unanswered
102      640653445541                                 Unanswered
103      640653445545                                 Unanswered
104      640653445546                                 Unanswered
105      640653445551                                 Unanswered
106      640653445557                                 Unanswered
107      640653445560                                 Unanswered
108      640653445547                                 Unanswered
109      640653445548                                 Unanswered
110      640653445550                                 Unanswered
111      640653445552                                 Unanswered
112      640653445553                                 Unanswered
113      640653445555                                 Unanswered
114      640653445556                                 Unanswered
115      640653445559                                 Unanswered
116      640653445549                                 Unanswered
117      640653445554                                 Unanswered
118      640653445558                                 Unanswered
119      640653445561                                 Unanswered
120      640653445562                                 Unanswered
121      640653445563                                 Unanswered
122      640653445572                                 Unanswered
123      640653445579                                 Unanswered
124      640653445564                                 Unanswered
125      640653445565                                 Unanswered
126      640653445566                                 Unanswered
127      640653445569                                 Unanswered
128      640653445574                                 Unanswered
129      640653445567                                 Unanswered
130      640653445568                                 Unanswered
131      640653445573                                 Unanswered
132      640653445575                                 Unanswered
133      640653445576                                 Unanswered
134      640653445577                                 Unanswered
135      640653445578                                 Unanswered
136      640653445570                                 Unanswered
137      640653445571                                 Unanswered
138      640653445580                                 Unanswered
139      640653445581                                 Unanswered
140      640653445582                                 Unanswered
141      640653445586                                 Unanswered
142      640653445583                                 Unanswered
143      640653445591                                 Unanswered
144      640653445592                                 Unanswered
145      640653445584                                 Unanswered
146      640653445587                                 Unanswered
147      640653445588                                 Unanswered
148      640653445589                                 Unanswered
149      640653445590                                 Unanswered
150      640653445594                                 Unanswered
151      640653445595                                 Unanswered
152      640653445596                                 Unanswered
153      640653445597                                 Unanswered
154      640653445598                                 Unanswered
155      640653445599                                 Unanswered
156      640653445601                                 Unanswered
157      640653445602                                 Unanswered
158      640653445603                                 Unanswered
159      640653445605                                 Unanswered
160      640653445606                                 Unanswered
161      640653445607                                 Unanswered
162      640653445600                                 Unanswered
163      640653445604                                 Unanswered
164      640653445608                                 Unanswered
165      640653445610                                 Unanswered
166      640653445611                                 Unanswered
167      640653445609                                 Unanswered
168      640653445612                                 Unanswered
169      640653445613                                 Unanswered
170      640653445617                                 Unanswered
171      640653445626                                 Unanswered
172      640653445628                                 Unanswered
173      640653445614                                 Unanswered
174      640653445615                                 Unanswered
175      640653445619                                 Unanswered
176      640653445622                                 Unanswered
177      640653445623                                 Unanswered
178      640653445624                                 Unanswered
179      640653445625                                 Unanswered
180      640653445627                                 Unanswered
181      640653445618                                 Unanswered
182      640653445616                                 Unanswered
183      640653445620                                 Unanswered
184      640653445621                                 Unanswered
185      640653445629                              6406531484861
186      640653445630                              6406531484865
187      640653445631                              6406531484870
188      640653445632                              6406531484871
189      640653445633                              6406531484873
190      640653445634                              6406531484881
191      640653445636                              6406531484888
192      640653445635                              6406531484882
193      640653445637                              6406531484889
194      640653445643                              6406531484900
195      640653445638                6406531484891,6406531484892
196      640653445640                                         24
197      640653445641                                         11
198      640653445642                                       0.33
199      640653445645                                          0
200      640653445646                                       0.97
201      640653445647                                      0.811
202      640653445648                                      0.650
203      640653445649                                      0.256
204      640653445651                                         .5
205      640653445652                                          1
206      640653445653                                 Unanswered
207      640653445654                                 Unanswered
208      640653445659                                 Unanswered
209      640653445677                                 Unanswered
210      640653445655                                 Unanswered
211      640653445664                                 Unanswered
212      640653445665                                 Unanswered
213      640653445666                                 Unanswered
214      640653445667                                 Unanswered
215      640653445668                                 Unanswered
216      640653445670                                 Unanswered
217      640653445672                                 Unanswered
218      640653445669                                 Unanswered
219      640653445678                                 Unanswered
220      640653445679                                 Unanswered
221      640653445674                                 Unanswered
222      640653445675                                 Unanswered
223      640653445671                                 Unanswered
224      640653445673                                 Unanswered
225      640653445657                                 Unanswered
226      640653445658                                 Unanswered
227      640653445661                                 Unanswered
228      640653445662                                 Unanswered
229      640653445663                                 Unanswered
230      640653445676                                 Unanswered
231      640653445680                                 Unanswered
232      640653445681                                 Unanswered
233      640653445682                                 Unanswered
234      640653445683                                 Unanswered
235      640653445685                                 Unanswered
236      640653445692                                 Unanswered
237      640653445693                                 Unanswered
238      640653445695                                 Unanswered
239      640653445684                                 Unanswered
240      640653445694                                 Unanswered
241      640653445686                                 Unanswered
242      640653445696                                 Unanswered
243      640653445688                                 Unanswered
244      640653445689                                 Unanswered
245      640653445691                                 Unanswered
246      640653445697                                 Unanswered
247      640653445699                                 Unanswered
248      640653445700                                 Unanswered
249      640653445701                                 Unanswered
250      640653445708                                 Unanswered
251      640653445709                                 Unanswered
252      640653445710                                 Unanswered
253      640653445712                                 Unanswered
254      640653445713                                 Unanswered
255      640653445702                                 Unanswered
256      640653445703                                 Unanswered
257      640653445705                                 Unanswered
258      640653445704                                 Unanswered
259      640653445706                                 Unanswered
260      640653445714                                 Unanswered
261      640653445715                                 Unanswered
262      640653445716                                 Unanswered
263      640653445717                                 Unanswered
264      640653445720                                 Unanswered
265      640653445721                                 Unanswered
266      640653445718                                 Unanswered
267      640653445719                                 Unanswered
268      640653445722                                 Unanswered
269      640653445723                                 Unanswered
270      640653445728                                 Unanswered
271      640653445725                                 Unanswered
272      640653445726                                 Unanswered
273      640653445727                                 Unanswered
274      640653445730                                 Unanswered
275      640653445731                                 Unanswered
276      640653445732                                 Unanswered

### Variables initialization

In [445]:
my_question="Question ID"
my_answer="Options Selected"
unanswered="Unanswered"
file_qid="Question Id"

In [446]:
df[0].iloc[4].values

array(['Question ID', 'Options Selected'], dtype=object)

In [447]:
df[0].head()

               Name                     SHEKHAR MOHANTY HEMANT
0            QP Set  2022 Nov: IIT M DAD DIPLOMA AN2 EXAM QPD1
1  Test Center Name            iON Digital Zone iDZ Jamshedpur
2             Shift                                         AN
3           Roll No                           POD22S1C11500062
4       Question ID                           Options Selected

In [448]:
df1=df[0].replace(unanswered,np.nan,regex=True)

Students response for exam dataframe

In [449]:
myans=df1.dropna()
myans.columns=myans.iloc[4].values
myans=myans[5:]

In [450]:
myans[my_question]=myans[my_question].apply(int)
myans=myans.sort_values(my_question)
print(len(myans))
myans

21

      Question ID             Options Selected
185  640653445629                6406531484861
186  640653445630                6406531484865
187  640653445631                6406531484870
188  640653445632                6406531484871
189  640653445633                6406531484873
190  640653445634                6406531484881
192  640653445635                6406531484882
191  640653445636                6406531484888
193  640653445637                6406531484889
195  640653445638  6406531484891,6406531484892
196  640653445640                           24
197  640653445641                           11
198  640653445642                         0.33
194  640653445643                6406531484900
199  640653445645                            0
200  640653445646                         0.97
201  640653445647                        0.811
202  640653445648                        0.650
203  640653445649                        0.256
204  640653445651                           .5
205  640653445652                            1

### Useful functions

In [451]:
def gentextarr(content):
    """
    Returns an array of text block properties of pdf
    Parameter:
        content: string object of page content obtained by page.getContents().getData().decode() 
    """
    lines = content.splitlines()
    result = []
    in_text = False
    for line in lines:
        if line == "BT":
            in_text = True
            temp=[]

        elif line == "ET":
            in_text = False
            result.append(temp)
            temp=[]

        elif in_text:
            if line[-2:].lower()=="tj" or line[-2:].lower()=="tf" or line[-2:].lower()=="rg":
                temp.append(line[:])
    return result

def gen_cmap(font,pg):
    """
    Returns a character map dictionary of a pdf 'filename' page 'pg' and font 
    Parameter:
     font: font key name in meta properties of pdf.
     pg: int page number of pdf
    """
    # pdf = PdfFileReader(filename)
    # page = pdf.getPage(pg)
    page=pg
    temp=False
    cmap={}
    for i in (page.getObject()['/Resources']['/Font'][font]['/ToUnicode'].getObject().getData().decode().split('\n')):
        if "endbfrange" in i:
            temp=False
        if temp:
            cmap[i[1:5]]=i[-5:-1]
        if "beginbfrange" in i:
            temp=True
    return cmap

def font_decoder(text,cmap):
    """
    Returns decoded word from pdf text hex code. 
    """

    count=0
    word=""
    temp=""
    for i in text:
        count+=1
        if count==4:
            temp+=i
            word+=chr(int(cmap.get(temp.lower(),temp.lower()),16))
            temp=""
            count=0
        else:
            temp+=i
    return word

## PDF Content

In [452]:
"""
This piece of code extracts question answer pdf text content as well as correct answer key.
"""
pdf = PdfFileReader(filename)
sum=0
df=[[file_qid,"Correct Marks","Answers"]]
m_bool=False
marks=""
ans_bool=False
ans=""
row=[]
temp=[]
s_head=[]
temp_head=""
ishead=False
for p in range(0,pdf.getNumPages()):
    content=pdf.pages[p].getContents()
    #a different type content
    if type(content)==ArrayObject:
        m=""
        for n in content:
            m+=n.getObject().getData().decode()
        content=m
    elif type(content)==EncodedStreamObject or type(content)==DecodedStreamObject:
        content=content.getData().decode()
    for i in gentextarr(content):
        text=""
        ans_bool=False
        for j in i:
            # getting character map for a font type
            if j[-2:].lower()=="tf":
                cmap=gen_cmap(j.split()[0],pdf.pages[p])
                #checking for subject headings with font size =18
                if j.split()[1]=="18":
                    ishead=True
            # checking green color as ind of correctness        
            if j=="0 0.50196 0 rg" and len(row)>1:
                ans_bool=True
    
            elif j[-2:].lower()=="tj":
                text=font_decoder(j[1:-3],cmap)
                if ishead:
                    ishead=False
                    temp_head=text
                
                if (not m_bool) and (not ans_bool):
                    # checking for question id
                    if str(file_qid) in text:
                        if len(temp)>0:
                            row.append(temp)
                            df.append(row)
                        row=[]
                        temp=[]
                        if text.split()[7].isnumeric():
                            s_head.append(temp_head)
                            row=[text.split()[7]]
                            m_bool=True
                    
                # extracting marks
                elif m_bool:
                    if "Correct Marks" in text:
                        # appending to heading list if marks is 0
                        # if text.split()[-1]=="0":
                        #     s_head.append(temp_head)
                        if len(row)==1:
                            row.append(text.split()[3])
                        m_bool=False
                        
                #extracting answer key
                elif ans_bool:
                    if text!=" ":
                        if len(text)>=13 and text[:13].isnumeric():
                            temp.append(text[:13])
                        elif len(text.split())==3 and "to" in text.split()[1]:
                            t=text.split()
                            temp=[float(t[0]),float(t[-1])]
                        elif len(temp)==0:
                            temp.append(text)
if len(temp)>=1:
    row.append(temp)
    df.append(row)

In [453]:
print(len(df))
df[1]

278

['640653445429', '0.5', ['6406531484269']]

In [454]:
df2=pd.DataFrame(df[1:],columns=df[0])
df2[file_qid]=df2[file_qid].apply(int)
df2["Subjects"]=np.array(s_head)
df2=df2.sort_values([file_qid])
df2.head()

    Question Id Correct Marks          Answers            Subjects
0  640653445429           0.5  [6406531484269]  Programme Feedback
1  640653445430           0.5  [6406531484272]  Programme Feedback
2  640653445431           0.5  [6406531484274]  Programme Feedback
3  640653445432           0.5  [6406531484279]  Programme Feedback
4  640653445433           0.5  [6406531484284]  Programme Feedback

In [455]:
for i in set(s_head):
    print(i,s_head.count(i))

CT 18
Java 16
MLT 22
Maths2 15
BDM 16
System commands 17
Statistics2 18
MLP 25
PDSA 16
AppDev1 19
AppDev2 17
MLF 15
Business Analytics 15
DBMS 17
Programme Feedback 31

In [457]:
def evaluate(df2):
    
    #Multi option
    df2['Score'] = df2.apply(lambda x: (len(set(x["My answer"].split(","))\
                                            .intersection(set(x["Answers"])))/len(x["Answers"]))*float(x['Correct Marks'])\
                             if type(x["Answers"][0])==str and len(x["Answers"][0])==13 and\
                                len(set(x["My answer"].split(",")))<=len(set(x["Answers"])) and\
                                set(x["My answer"].split(",")).issubset(set(x["Answers"]))\
                             else x["Score"], axis=1)
    #integer ranged
    df2['Score'] = df2.apply(lambda x: float(x['Correct Marks'])\
                             if len(x["My answer"])<13 and len(x["My answer"])>0 and\
                                len(x['Answers'])>=1 and\
                                float(x['My answer']) >= float(x["Answers"][0]) and\
                                float(x['My answer']) <= float(x["Answers"][-1])\
                             else x["Score"], axis=1)
    return df2

## Final score

### Method 1: using index of 0 correct marks

In [458]:
# s_index=df3[df3["Correct Marks"]=="0"].index
# s_index

In [459]:
# subjects={}
# for i in range(len(s_index)):
#     if i==len(s_index)-1:
#         subjects[df3["Subjects"][s_index[i]]]=df3.iloc[s_index[i]:]
#     else:
#         subjects[df3["Subjects"][s_index[i]]]=df3.iloc[s_index[i]:s_index[i+1]]
# subjects.keys()

In [460]:
# reports=[]
# for i in subjects.values():
#     print(i["Correct Marks"].apply(float).values)
#     reports.append([i["Subjects"].unique()[0],i["Correct Marks"].apply(float).values.sum(),i["Score"].sum()])

In [461]:
# for i in reports:
#     print(i[0],":",i[2]/i[1]*100,"%")

### Method 2: Using groupby function

In [462]:
df3=df2.set_index('Question Id').combine_first(myans.set_index('Question ID'))\
       .reset_index().replace(np.NAN,"")
df3.columns=["Question Id","Answers","Correct Marks","My answer","Subjects" ]
df3["Score"]=np.zeros(df3.shape[0])
df3=evaluate(df3)

In [463]:
df3[df3["Subjects"]=="MLT"]

,Question Id,Answers,Correct Marks,My answer,Subjects,Score
175,640653445621,"[6406531484830, 6406531484831]",2,,MLT,0.0
183,640653445629,[6406531484861],0,6406531484861,MLT,0.0
184,640653445630,[6406531484865],7,6406531484865,MLT,7.0
185,640653445631,[6406531484870],6,6406531484870,MLT,6.0
186,640653445632,[6406531484871],6,6406531484871,MLT,6.0
187,640653445633,[6406531484876],6,6406531484873,MLT,0.0
188,640653445634,[6406531484881],6,6406531484881,MLT,6.0
189,640653445635,[6406531484882],4,6406531484882,MLT,4.0
190,640653445636,[6406531484888],6,6406531484888,MLT,6.0
191,640653445637,[6406531484889],5,6406531484889,MLT,5.0
192,640653445638,"[6406531484891, 6406531484892]",5,"6406531484891,6406531484892",MLT,5.0
193,640653445639,[1],7,,MLT,0.0
194,640653445640,[24],5,24,MLT,5.0
195,640653445641,[11],6,11,MLT,6.0
196,640653445642,"[0.3, 0.4]",4,0.33,MLT,4.0
197,640653445643,[6406531484900],5,6406531484900,MLT,5.0
198,640653445645,[0],2,0,MLT,2.0
199,640653445646,"[0.92, 1.0]",3,0.97,MLT,3.0
200,640653445647,"[0.8, 0.83]",3,0.811,MLT,3.0
201,640653445648,"[0.62, 0.68]",3,0.650,MLT,3.0
202,640653445649,"[0.21, 0.29]",3,0.256,MLT,3.0
203,640653445651,[0.5],3,.5,MLT,3.0

In [464]:
df3["Correct Marks"]=df3["Correct Marks"].apply(float)

In [465]:
report2=pd.DataFrame(df3.groupby("Subjects")[["Correct Marks","Score"]].sum())

In [466]:
report2["Percentage"]=(report2["Score"]*100/report2["Correct Marks"]).round(2)

In [467]:
report2.columns=["Total Marks","Scored","Percentage"]
headers = {
    'selector': 'thead',
    'props': 'background-color: #0dcaf0; color: white;'
}
report2.style.applymap(lambda v: 'color:red;' if (v == 0) else 'color:green',subset=["Percentage","Scored"])\
    .set_table_styles([headers])\
    .format({"Total Marks":'{:.2f}',"Scored":'{:.2f}',"Percentage":'{0:,.2f}%'})

In [468]:
report2[report2["Percentage"]>0]

          Total Marks  Scored  Percentage
Subjects
MLP              52.0     5.0        9.62
MLT              97.0    82.0       84.54

### Exporting dataframe as csv

In [ ]:
df3[df3["Subjects"].isin(report2[report2["Percentage"]>0].index)].to_csv("summary.csv",index=False)
report2[report2["Percentage"]>0].to_csv("report_card.csv")

In [469]:
s_head

['Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Programme Feedback',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Maths2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'Statistics2',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'CT',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'DBMS',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'PDSA',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'AppDev1',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'MLF',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'Java',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'AppDev2',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLT',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'MLP',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'BDM',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'Business Analytics',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands',
 'System commands']